.autocomplete {
  width: 25%;

  @include breakpoint(medium down) { width: 60%; }
}

.react-autosuggest__suggestions-container {
  background-color: $medium-blue;
  color: white;
  position: absolute;
  top: calc(4rem - 3px);
  font-size: 1.2rem;
  max-height: 12rem;
  overflow-y: auto;
  padding: 0;
  margin: 0;

  ul {
    margin: 0;

    > li {
      cursor: pointer;
      margin: 0;
      list-style: none;
      padding: 3px 4px;

      &:hover {
        color: black;
        background-color: #edba61;
        transition: background-color .1s ease;
      }
    }
  }

  &--open {
    border: 3px solid #000000;
  }
}

.react-autosuggest__container {
  position: relative;
}
