.autocomplete {
  width: 25%;

  @include breakpoint(medium down) { width: 60%; }
}

.pac-container {
  background-color: $medium-blue;
  border: $global-wide-border-width solid $white;
  box-shadow: none;
  margin-top: -$global-border-width;
  width: calc(25%) !important;

  @include breakpoint(medium down) { width: calc(60% - 1px) !important; }
}

.pac-item {
  border-top: 0;
  color: $white;
  font-family: $body-font-family;
  padding: .3rem .5rem;

  &:hover {
    background-color: get-color(warning);
  }

  span {
    color: $white;

    :not(.pac-item-query) { color: $white; }
  }
}

.pac-icon { display: none; }

