@import 'settings';
@import '../../../node_modules/foundation-sites/scss/foundation';
//// scss-lint:disable ImportPath
//// There are other files with the same name so removing scss will throw and error so this rule had to be ignored
//@import '../../../node_modules/slick-carousel/slick/slick.scss';
//@import '../../../node_modules/slick-carousel/slick/slick-theme.scss';

// Import Foundation Styles/Components (Only use what we need)
// https://foundation.zurb.com/sites/docs/
// --------

$global-flexbox: true !global;

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids
@include foundation-xy-grid-classes;

// Generic modules
@include foundation-close-button;
@include foundation-table;

////Slideshow

// Animation
//@include motion-ui-transitions;
//@include motion-ui-animations;

// Custom base styles
// --------

//@import 'typography';
@import 'button';
@import 'form';
//@import 'table';
